<div class="l-content">
<section class="l-chapter-container">
    <h2 class="l-chapter-head">取引画面</h2>

        <div class="transact-attention">
      <h3><i class="fas fa-check"></i><span>受取評価をしました</span></h3>
      <p>出品者からの評価が終わると取引完了となります。しばらくお待ちください。</p>
    </div>



                                                  <ul class="transact-guide text-right">
            <li>
              <a href="/jp/help_center/category/5/" target="_blank"><span>購入した後の流れ</span><i class="icon-arrow-right"></i></a>
            </li>
                      </ul>








              <div class="message-container">

            <div class="message-content">


      <form action="https://www.mercari.com/jp/transaction/message/m52317412621/" method="POST" class="message-form">
                  <input type="hidden" name="__csrf_value" value="927770b08b88a07edb97e3dc7a6204517e2ce7c726f2b262b8e7c46bd9892458e43b98e8a81040f9908d1c60710f036f9cd4f5270a605c06ddda0bd380e5d19c1">

        <p>取引メッセージの内容は、必要に応じて事務局で確認しています</p>
        <input type="hidden" name="item_id" value="m52317412621">
                <textarea type="text" name="body" value="" class="textarea-default"></textarea>



        <button type="submit" class="message-submit btn-default btn-gray">
                      <span>取引メッセージを送る</span>
                  </button>
      </form>
    </div>


  <aside class="modal" data-modal="delete-comment" data-close="modal">
    <div class="modal-inner modal-banner">
      <div class="modal-body">
        <div class="modal-head bold">確認</div>
        <div data-comment="body"></div>
        <br>
        本当にこのコメントを削除してよろしいですか？
      </div>

      <form action="https://www.mercari.com/jp/comment/delete/" method="POST">
        <div class="clearfix">
          <div class="modal-btn modal-btn-cancel" data-close="modal">キャンセル</div>
          <button type="submit" class="modal-btn modal-btn-submit">
            削除する
          </button>
        </div>
        <input type="hidden" name="item_id" value="m52317412621">
        <input type="hidden" name="comment_id" value="">
                <input type="hidden" name="__csrf_value" value="927770b08b88a07edb97e3dc7a6204517e2ce7c726f2b262b8e7c46bd9892458e43b98e8a81040f9908d1c60710f036f9cd4f5270a605c06ddda0bd380e5d19c1">
      </form>

    </div>
  </aside>









  </div>

              <div class="message-content">
                      ※お困りの際は<a href="/jp/help_center/category/1/" target="_blank">よくある質問</a>をご確認ください。
                  </div>
            </section>
</div>
