<div class="l-side">
  <section class="l-side-container">
    <h3 class="transact-info-head">取引情報</h3>
    <div class="transact-info-inner">
      <ul class="transact-info-table">
        <li class="transact-info-table-row">
          <span class="transact-info-table-cell">商品</span>
          <ul class="transact-info-table-cell">
            <li>
              <a href="https://item.mercari.com/jp/m52317412621/">
                <img data-src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m52317412621_1.jpg?1534157929" class=" is-higher-height lazyloaded" alt="" src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m52317412621_1.jpg?1534157929">
                <div class="transact-info-item bold">
                haya4様専用
                <br>
                ¥ 300
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li class="transact-info-table-row">
          <span class="transact-info-table-cell">送料</span>
          <ul class="transact-info-table-cell">
            <li>
              送料込み(出品者負担)
            </li>
          </ul>
        </li>
        <li class="transact-info-table-row">
          <span class="transact-info-table-cell">購入日時</span>
          <ul class="transact-info-table-cell">
            <li>8月13日 20:13</li>
          </ul>
        </li>
        <li class="transact-info-table-row">
          <span class="transact-info-table-cell">商品ID</span>
          <ul class="transact-info-table-cell">
            <li>m52317412621</li>
          </ul>
        </li>
        <li class="transact-info-table-row">
          <span class="transact-info-table-cell">お届け先</span>
          <ul class="transact-info-table-cell">
            <li>
              <p>〒211-0041</p>
              <p>
                神奈川県川崎市中原区下小田中6-31-43
              </p>
              <p></p>中原ハイム228
              <p><span class="buyer-name">林貴洋</span> 様</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
  <section class="l-side-container">
    <h3 class="transact-info-head">出品者情報</h3>
    <div class="transact-info-inner">
      <a href="https://www.mercari.com/jp/u/983966298/" class="transaction-user-icon">
        <figure>
          <div>
            <img src="https://static-mercari-jp-imgtr2.akamaized.net/members/983966298.jpg?1496547172" alt="" width="40">
          </div>
          <figcaption class="bold">
            <div class="transact-user-name">
              ishi
            </div>
          </figcaption>
        </figure>
        <i class="icon-arrow-right"></i>
      </a>
    </div>
  </section>
  <div class="l-visible-large">
    <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" target="_blank" class="side-banner">
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/jp/side_banner.jpg?1236411757" alt="Download Mercari Now">
    </a>
  </div>
</div>
