<%= form_for(@address) do |f| %>
<!-- <form action="https://www.mercari.com/jp/mypage/profile/" method="POST" class="">
  <input type="hidden" name="__csrf_value" value="3ac14cd261f03a8bf3e31c0c4925101397d042503628583635b00dc2d59b6af112041219d7214b671bbe544ad231ecf14eac827747cbff09951c870480a1f3156">
 -->

  <div class="setting-profile-icon">
    <figure>
      <img src="//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png" width="60" height="60">
    </figure>
    <div class="input-default"><%= current_user.nickname %></div>
  </div>

  <div class="setting-profile-content">
    <%= f.text_fields :introduction, placeholder: "例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪", class: "textarea-default" %>
<!--     <textarea name="introduction" placeholder="例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪" class="textarea-default"></textarea>
 -->
    <%= f.submit "変更する", class: "btn-default btn-red" %>
  </div>
_<% end %>
