<div class="l-right">
  <ul class="pc-header-user-nav">
    <li>
       <%= link_to user_path(current_user.id), class: "pc-header-user-icon pc-header-nav-root" do %>
        <figure>
          <div>
            <img src="//static-mercari-jp-imgtr2.akamaized.net/thumb/members/557352198.jpg?1532452662" alt="" width="32">
          </div>
        </figure>
        <div>マイページ</div>
      <% end %>
      <div class="pc-header-user-box pc-header-mypage-box">
          <div class="pc-header-mypage-state text-center">
            <figure>
              <div>
                <img src="//static-mercari-jp-imgtr2.akamaized.net/thumb/members/557352198.jpg?1532452662" alt="" width="60">
              </div>
              <figcaption><%= current_user.nickname %></figcaption>
            </figure>
            <ul class="pc-header-mypage-review-listing">
              <li><a href="https://www.mercari.com/jp/mypage/review/history/">評価: 3</a></li>
              <li><a href="https://www.mercari.com/jp/mypage/listings/listing/">出品数: 3</a></li>
            </ul>
            <ul class="pc-header-mypage-sales-point">
              <li>
                <a href="https://www.mercari.com/jp/mypage/sales/" class="clearfix">
                  <div class="l-left">売上金</div><div class="l-right">¥ 20,940<i class="fas fa-angle-right"></i></div>
                </a>
              </li>
              <li>
                <a href="https://www.mercari.com/jp/mypage/point/" class="clearfix">
                  <div class="l-left">ポイント</div><div class="l-right">P 0<i class="fas fa-angle-right"></i></div>
                </a>
              </li>
            </ul>
          </div>
          <ul class="mypage-nav-list">

            <li>
              <a href="https://www.mercari.com/jp/mypage/like/history/" class="mypage-nav-list-item">
                いいね！一覧
                <i class="fas fa-angle-right"></i>
              </a>
            </li>

            <li>
              <a href="https://www.mercari.com/jp/mypage/listings/listing/" class="mypage-nav-list-item">
                出品した商品 - 出品中
                <i class="fas fa-angle-right"></i>
              </a>
            </li>

            <li>
              <a href="https://www.mercari.com/jp/mypage/listings/in_progress/" class="mypage-nav-list-item">
                出品した商品 - 取引中
                <i class="fas fa-angle-right"></i>
              </a>
            </li>

            <li>
              <a href="https://www.mercari.com/jp/mypage/listings/completed/" class="mypage-nav-list-item">
                出品した商品 - 売却済み
                <i class="fas fa-angle-right"></i>
              </a>
            </li>

            <li>
              <a href="https://www.mercari.com/jp/mypage/purchase/" class="mypage-nav-list-item">
                      購入した商品 - 取引中
                <i class="fas fa-angle-right"></i>
              </a>
            </li>

            <li>
              <a href="https://www.mercari.com/jp/mypage/purchased/" class="mypage-nav-list-item">
                購入した商品 - 過去の取引
                <i class="fas fa-angle-right"></i>
              </a>
            </li>
          </ul>
      </div>
    </li>

    <li data-id="pc-header-user-nav" data-key="notification_list" data-url="https://www.mercari.com/jp/mypage/notification_and_todo_json/">
      <a href="https://www.mercari.com/jp/mypage/notification/" class="pc-header-nav-root" data-url="https://www.mercari.com/jp/mypage/notification_and_todo_json/">
        <i class="far fa-bell"></i>
        <span>お知らせ</span>
        <div class="pc-header-nav-count">2</div>
      </a>
      <ul class="pc-header-user-box pc-header-notification-box mypage-item-list" data-id="pc-header-user-items"></ul>
    </li>

     <li data-id="pc-header-user-nav" data-key="todo_list" data-url="https://www.mercari.com/jp/mypage/notification_and_todo_json/">
      <a href="https://www.mercari.com/jp/mypage/todo/" class="pc-header-nav-root" data-url="https://www.mercari.com/jp/mypage/notification_and_todo_json/">
      <i class="fas fa-check"></i><span>やることリスト</span>
      </a>
      <ul class="pc-header-user-box pc-header-todo-box mypage-item-list" data-id="pc-header-user-items"></ul>
    </li>
  </ul>
</div>
