%section.items-box
  = link_to image_tag(product.product_images.id), product_path
    %figure.items-box-photo
      %img.lazyload{:alt => "新品　キラキラ　イラスト　半袖Ｔシャツ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m40548171061_1.jpg?1531713459"}/
    .items-box-body
      %h3.items-box-name.font-2 新品　キラキラ　イラスト　半袖Ｔシャツ
      .items-box-num.clearfix
        .items-box-price.font-5 ¥ 600
        %p.item-box-tax (税込)
