<div class="l-right">
  <ul class="pc-header-login-nav">
    <li>
      <a href="https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2F" class="sp-header-btn btn-red">ログイン</a>
    </li>

    <li>
      <%= link_to "新規会員登録", "/users/sign_up", class: "sp-header-btn header-signup" %>
    </li>
  </ul>
</div>
