<div class="l-content">

  <section class="l-chapter-container">
    <h2 class="l-chapter-head">取引画面</h2>

        <div class="transact-attention">
      <h3><i class="fas fa-check"></i><span>評価をしてください</span></h3>
      <p>購入者に商品が到着し評価がありました。<br>購入者の評価を行って取引を完了してください。<br>※評価は取引が終わった後で見ることができます。</p>
    </div>



                              <ul class="transact-guide text-right">
                                  <li>
              <a href="/jp/help_center/article/63/" target="_blank"><span>商品が売れた後の流れ</span><i class="fas fa-angle-right"></i></a>
            </li>
                                        <li>
                <a href="/jp/help_center/category/2/" target="_blank"><span>出品者のよくある質問</span><i class="fas fa-angle-right"></i></a>
              </li>
                                              <li>
                                  </li>
                                            </ul>


      <%= form_for @product, html: {class:"transact-form-review"} do |f|%>
      <form action="https://www.mercari.com/jp/transaction/review/m57583597862/" method="POST" class="transact-form-review">
        <input type="hidden" name="__csrf_value" value="76deface1799e71e0f9dadac145359acc3d65ed46992676134d3d971ee1a9f272100c053286f4af3d698d698893c84ef3581672e23f21881303e723febaffb6dd">
        <input type="hidden" name="status" value="4">
        <input type="hidden" name="review_type" value="1">

                  <input type="hidden" name="transaction_delivered" id="transaction_delivered" value="1">

                <ul class="transact-review-list clearfix">
          <li>
            <input type="radio" name="fame" id="face1" value="0">
            <div class="transact-review-icon">
              <i class="fas fa-laugh"></i>
              <label for="face1">
                良い
              </label>
            </div>
          </li>
          <li>
            <input type="radio" name="fame" id="face2" value="1">
            <div class="transact-review-icon">
              <i class="fas fa-meh"></i>
              <label for="face2">
                普通
              </label>
            </div>
          </li>
          <li>
            <input type="radio" name="fame" id="face3" value="2">
            <div class="transact-review-icon">
              <i class="fas fa-sad-tear"></i>
              <label for="face3">
                悪い
              </label>
            </div>
          </li>
        </ul>

                <p>評価のコメントを記入しましょう。</p>
        <textarea name="text" placeholder="コメントはなくても構いませんが、お礼のメッセージなどを書くと喜ばれます。" class="textarea-default"></textarea>

        <button type="submit" class="btn-default btn-red" disabled="">
                      評価を投稿する
                  </button>
      <% end %>





          <div class="message-container">
            <div class="message-content">


      <form action="https://www.mercari.com/jp/transaction/message/m57583597862/" method="POST" class="message-form">
                  <input type="hidden" name="__csrf_value" value="76deface1799e71e0f9dadac145359acc3d65ed46992676134d3d971ee1a9f272100c053286f4af3d698d698893c84ef3581672e23f21881303e723febaffb6dd">

        <p>取引メッセージの内容は、必要に応じて事務局で確認しています</p>
        <input type="hidden" name="item_id" value="m57583597862">
                <textarea type="text" name="body" value="" class="textarea-default"></textarea>



        <button type="submit" class="message-submit btn-default btn-gray">
                      <span>取引メッセージを送る</span>
                  </button>
      </form>
    </div>


  <aside class="modal" data-modal="delete-comment" data-close="modal">
    <div class="modal-inner modal-banner">
      <div class="modal-body">
        <div class="modal-head bold">確認</div>
        <div data-comment="body"></div>
        <br>
        本当にこのコメントを削除してよろしいですか？
      </div>

      <form action="https://www.mercari.com/jp/comment/delete/" method="POST">
        <div class="clearfix">
          <div class="modal-btn modal-btn-cancel" data-close="modal">キャンセル</div>
          <button type="submit" class="modal-btn modal-btn-submit">
            削除する
          </button>
        </div>
        <input type="hidden" name="item_id" value="m57583597862">
        <input type="hidden" name="comment_id" value="">
                <input type="hidden" name="__csrf_value" value="76deface1799e71e0f9dadac145359acc3d65ed46992676134d3d971ee1a9f272100c053286f4af3d698d698893c84ef3581672e23f21881303e723febaffb6dd">
      </form>

    </div>
  </aside>









  </div>

              <div class="message-content">
                      ※お困りの際は<a href="/jp/help_center/category/2/" target="_blank">よくある質問</a>をご確認ください。
                  </div>
            </section>






  <aside class="modal" data-modal="seller-cancel" data-close="modal">
    <div class="modal-inner modal-banner">
      <div class="modal-body">
        <div class="modal-head bold">取引をキャンセルしますか？</div>
        キャンセル後、商品は出品停止状態になりますので、再度出品をお願いいたします
      </div>
      <div class="clearfix">
        <div class="modal-btn modal-btn-cancel" data-close="modal">いいえ</div>
        <form action="/jp/transaction/seller_cancel/done/m57583597862/" method="POST" novalidate="novalidate">
          <input type="hidden" name="__csrf_value" value="76deface1799e71e0f9dadac145359acc3d65ed46992676134d3d971ee1a9f272100c053286f4af3d698d698893c84ef3581672e23f21881303e723febaffb6dd">
          <button type="submit" class="modal-btn modal-btn-submit">はい</button>
        </form>
      </div>
    </div>
  </aside>












  <aside class="modal" data-modal="buyer-cancel" data-close="modal">
    <div class="modal-inner modal-banner">
      <div class="modal-body">
        <div class="modal-head bold">取引キャンセルを依頼しますか</div>
        事務局にて取引内容を確認後、対応してまいります
      </div>
      <div class="clearfix">
        <div class="modal-btn modal-btn-cancel" data-close="modal">キャンセル</div>
        <form action="/jp/transaction/buyer_cancel/done/m57583597862/" method="POST" novalidate="novalidate">
          <input type="hidden" name="__csrf_value" value="76deface1799e71e0f9dadac145359acc3d65ed46992676134d3d971ee1a9f272100c053286f4af3d698d698893c84ef3581672e23f21881303e723febaffb6dd">
          <button type="submit" class="modal-btn modal-btn-submit">はい</button>
        </form>
      </div>
    </div>
  </aside>





  </div>
