<div class="l-content">

  <section class="l-chapter-container">
    <h2 class="l-chapter-head">取引画面</h2>

        <div class="transact-attention">
      <h3><i class="fas fa-truck"></i><span>発送をしてください</span></h3>
      <p>商品が購入され支払いされました。商品の発送を行ってください。</p>
    </div>



                              <ul class="transact-guide text-right">
                                  <li>
              <a href="/jp/help_center/article/63/" target="_blank"><span>商品が売れた後の流れ</span><i class="fas fa-angle-right"></i></a>
            </li>
                                        <li>
                <a href="/jp/help_center/category/2/" target="_blank"><span>出品者のよくある質問</span><i class="fas fa-angle-right"></i></a>
              </li>
                                              <li>
                                  </li>
                                            </ul>






                <div class="transact-shipping-soyo">

        <form action="/jp/shipping/shipped/m57583597862/" method="POST" novalidate="novalidate">
          <input type="hidden" name="__csrf_value" value="53bbeb6b9ac6bc67f10abbbf26eff267a1aaf194ea79c6cbe83e4d9491c102cef703d2e708265cae1e1e2f3000054b1b7626cce5b37816d49db7f669287868370">
          <button type="submit" class="btn-default btn-red">商品の発送をしたので、発送通知をする</button>
        </form>

        <h3 class="text-center">らくらくメルカリ便に変更できます</h3>

                  <h4 class="text-center text-attention">（※匿名配送は利用できません）</h4>

        <div class="transact-button">
          <form action="/jp/shipping/utilization/m57583597862/" method="POST" novalidate="novalidate">
            <input type="hidden" name="__csrf_value" value="53bbeb6b9ac6bc67f10abbbf26eff267a1aaf194ea79c6cbe83e4d9491c102cef703d2e708265cae1e1e2f3000054b1b7626cce5b37816d49db7f669287868370">
            <button type="submit" class="btn-default btn-white btn-radius">変更する</button>
          </form>
        </div>

      </div>




      <div class="message-container">
        <div class="message-content">
      <form action="https://www.mercari.com/jp/transaction/message/m57583597862/" method="POST" class="message-form">
                  <input type="hidden" name="__csrf_value" value="53bbeb6b9ac6bc67f10abbbf26eff267a1aaf194ea79c6cbe83e4d9491c102cef703d2e708265cae1e1e2f3000054b1b7626cce5b37816d49db7f669287868370">

        <p>取引メッセージの内容は、必要に応じて事務局で確認しています</p>
        <input type="hidden" name="item_id" value="m57583597862">
                <textarea type="text" name="body" value="" class="textarea-default"></textarea>



        <button type="submit" class="message-submit btn-default btn-gray">
                      <span>取引メッセージを送る</span>
                  </button>
      </form>
    </div>


  <aside class="modal" data-modal="delete-comment" data-close="modal">
    <div class="modal-inner modal-banner">
      <div class="modal-body">
        <div class="modal-head bold">確認</div>
        <div data-comment="body"></div>
        <br>
        本当にこのコメントを削除してよろしいですか？
      </div>

      <form action="https://www.mercari.com/jp/comment/delete/" method="POST">
        <div class="clearfix">
          <div class="modal-btn modal-btn-cancel" data-close="modal">キャンセル</div>
          <button type="submit" class="modal-btn modal-btn-submit">
            削除する
          </button>
        </div>
        <input type="hidden" name="item_id" value="m57583597862">
        <input type="hidden" name="comment_id" value="">
                <input type="hidden" name="__csrf_value" value="53bbeb6b9ac6bc67f10abbbf26eff267a1aaf194ea79c6cbe83e4d9491c102cef703d2e708265cae1e1e2f3000054b1b7626cce5b37816d49db7f669287868370">
      </form>

    </div>
  </aside>









  </div>

              <div class="message-content">
                      ※お困りの際は<a href="/jp/help_center/category/2/" target="_blank">よくある質問</a>をご確認ください。
                  </div>
            </section>






  <aside class="modal" data-modal="seller-cancel" data-close="modal">
    <div class="modal-inner modal-banner">
      <div class="modal-body">
        <div class="modal-head bold">取引をキャンセルしますか？</div>
        キャンセル後、商品は出品停止状態になりますので、再度出品をお願いいたします
      </div>
      <div class="clearfix">
        <div class="modal-btn modal-btn-cancel" data-close="modal">いいえ</div>
        <form action="/jp/transaction/seller_cancel/done/m57583597862/" method="POST" novalidate="novalidate">
          <input type="hidden" name="__csrf_value" value="53bbeb6b9ac6bc67f10abbbf26eff267a1aaf194ea79c6cbe83e4d9491c102cef703d2e708265cae1e1e2f3000054b1b7626cce5b37816d49db7f669287868370">
          <button type="submit" class="modal-btn modal-btn-submit">はい</button>
        </form>
      </div>
    </div>
  </aside>












  <aside class="modal" data-modal="buyer-cancel" data-close="modal">
    <div class="modal-inner modal-banner">
      <div class="modal-body">
        <div class="modal-head bold">取引キャンセルを依頼しますか</div>
        事務局にて取引内容を確認後、対応してまいります
      </div>
      <div class="clearfix">
        <div class="modal-btn modal-btn-cancel" data-close="modal">キャンセル</div>
        <form action="/jp/transaction/buyer_cancel/done/m57583597862/" method="POST" novalidate="novalidate">
          <input type="hidden" name="__csrf_value" value="53bbeb6b9ac6bc67f10abbbf26eff267a1aaf194ea79c6cbe83e4d9491c102cef703d2e708265cae1e1e2f3000054b1b7626cce5b37816d49db7f669287868370">
          <button type="submit" class="modal-btn modal-btn-submit">はい</button>
        </form>
      </div>
    </div>
  </aside>





  </div>
