<header class="pc-header visible-pc">
  <div class="pc-header-inner">
    <div class="clearfix">
      <h1 class="l-left">
        <%= link_to root_path do %>
          <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?304547132" alt="mercari" width="134" height="36">
        <% end %>
      </h1>

      <form action="https://www.mercari.com/jp/search/" class="pc-header-form l-right">
        <input type="search" name="keyword" value="" placeholder="キーワードから探す" class="input-default">
          <i class="fas fa-search"></i>
        </form>
  </div>

  <%= render partial: "products/category" %>
  <% if user_signed_in? %>
    <%= render partial: "products/notification" %>
  <% else %>
    <%= render partial: "products/user_signed_out" %>
  <% end %>
</header>
